/*---------------------
  FLEX UTILITIES
---------------------*/
.flex {
  display: flex;
  gap: var(--gap);
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.over-half-width {
  width: 75%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.full-height {
  height: 100%;
}

.over-half-height {
  height: 75%;
}

.half-height {
  height: 50%;
}

.quarter-height {
  height: 25%;
}

.fit-content {
  width: fit-content;
}

.relative-pos {
  position: relative;
}

/*-----------------------
  HOME PAGE CONTAINERS
------------------------*/

.home-page-container {
  width: 100%;
  min-height: 100vh;
  padding: clamp(2rem, 5vw, 5em) 
           clamp(2rem, 10vw, 15em);
}

.project-page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.main-content {
  flex: 7.5;
  min-height: 100%;
}

.showcase {
  flex: 5;
}

.deck>*,
.showcase>* {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.side-bar {
  flex: 2.7;
}

/*-----------------------
  PROJ PAGE CONTAINERS
------------------------*/
.project-page-container .prose {
  min-width: 100%;
  max-width: 72ch;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project-page-container .prose>div {
  gap: 0.4rem;
}

.project-page-container .card {
  padding: 4rem 6rem;
}

.in-section-gap div {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.captioned-image {
  gap: 0;
  text-align: center;
}

.image {
  max-width: 75%;
  height: auto;
  border-radius: var(--radius);
  margin: 0.7rem;
}

.cycle-button {
  width: 50px;
  padding: 10px;
  position: absolute;
  margin-top: 0.7rem;
}

.theme-buttons {
  margin-top: 0.7rem;
}

.theme-dot {
  flex: 0 0 auto;
  width: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 0;
  border: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  cursor: pointer;
  scroll-snap-align: center;
}