/*-----------------------
  HOME PAGE CONTAINERS
------------------------*/
.parallax {
  background-image: url("/src/assets/backgroundGradient.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-container {
  width: 1145px;
  height: 685px;
}

.project-page-container {
  min-height: 100vh;
  width: 1020px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}
.showcase {
  display: flex;
}

.deck>*,
.showcase>* {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.side-bar {
  flex: 2.7;
}

@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column;
    padding: 0em 1em;
  }

  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .deck > * {
    min-height: 91px;
  }
  .theme-dot {
    width: 4em;
  }

  .showcase> :last-child {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .showcase,
  .showcase> :last-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .deck > * {
    min-height: 91px;
  }
  .contact-card {
    min-height: 200px;
  }
  .theme-dot {
    width: 4em;
  }
}
/*-----------------------
  PROJ PAGE CONTAINERS
------------------------*/
.project-page-container .prose {
  min-width: 100%;
  max-width: 72ch;
  gap: 0.8rem;
}

.page-card {
  padding: 4rem 6rem;
}

@media (max-width: 480px) {
  .page-card {
    padding: 0 2em;
    font-size: 0.8em;
  }
}

.project-page-container .prose>div {
  gap: 0.4rem;
}

.in-section-gap div {
  gap: 0.9em;
}

.image {
  height: auto;
  border-radius: var(--radius);
  margin: 0.7rem;
  display: inline-block;
}

.image-theme-button-offset {
  margin: 0;
  margin-left: 5em;
}

@media (max-width: 865px) {
  .image-theme-button-offset {
    margin: 0;
  }
}

.captioned-image div .image {
  margin-left: 4rem;
}

.project-page-container .theme-buttons {
  padding: 1rem 0.6rem;
  gap: 0.5rem;
  background-color: #19191c;
}

.theme-buttons .theme-dot {
  position: relative;
  /* font-size: 0.5rem; */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid #6b7280;
}

.theme-buttons .theme-dot::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--dot-bg);
}

.theme-dot.selected {
  border-color: #e4e4e4;
}

.code-snippet-border {
  margin: 5px 0px 18px 0px;
  padding: 0.6em 1em;
  background-color: #1d1f21;
  border: 1px solid rgb(94, 94, 94);
  border-radius: var(--radius);
  overflow: hidden;
  overflow-wrap: anywhere;
  transition: all 0.25s ease;
}

.code-snippet-border:hover {
  border-color: #b6b6ff;
}

.waiter-image {
  margin: 0;
  position: absolute;
  width: 20em;
  margin-right: 18vw;
  margin-top: -0.5em;
}

table {
  font-size: 1.5em;
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.8em;
  font-weight: 200;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  font-weight: 400;
}

@media (max-width: 1180px) {

}

@media (max-width: 868px) {
  .home-page-container {
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .project-page-container .theme-buttons {
    font-size: 0.6rem;
    margin-top: 0.7rem;
    margin-left: -4.5rem;
  }
}