/* ---------------------------
   DEFAULT
---------------------------- */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  color: white;
}

/* ---------------------------
   HOME PAGE TYPOGRAPHY
---------------------------- */

.home-page-container h4 {
  font-size: clamp(0.85rem, 1rem, 1.1rem);
  font-weight: normal;
  color: gray;
}

.home-page-container p,
.home-page-container a {
  font-size: clamp(0.8rem, 1.05rem, 1.05rem);
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.home-page-container .contact-card p {
  font-size: 1.1em;
}

.home-page-container .socials-icon {
  flex: 1;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.55rem 0 0.15rem;
  margin: 0.2rem;
  border: 1px solid var(--page-accent-color);
  border-radius: 5px;
  background-color: black;
  box-shadow: 2px 2px 0px 0px var(--page-accent-color);
}

.home-page-container .socials-icon:hover {
  color: var(--page-accent-color);
}

.home-page-container .socials-icon img {
  width: 1.3rem;
  background-color: white;
  border-radius: 15px;

}

.home-page-container .socials-icon:hover img {
  background-color: var(--page-accent-color);
}

@media (max-width: 768px) {
  .home-page-container h2 {
    font-size: clamp(1rem, 1.5rem, 1.8rem);
  }

  .home-page-container p,
  .home-page-container a {
    line-height: 1.5;
    font-weight: 300;
    color: white;
  }

  .home-page-container .contact-card p,
  .home-page-container .contact-card a {
    font-size: 1.5em;
  }

  .home-page-container .contact-card h3 {
    font-size: 1.8em;
  }

  .home-page-container .contact-card h4 {
    font-size: 1.5em;
  }
}

@media (max-width: 180) {
  .home-page-container h2 {
    font-size: clamp(1rem, 1.5rem, 1.8rem);
  }

  .home-page-container p,
  .home-page-container a {
    line-height: 1.5;
    font-weight: 300;
    color: white;
  }

  .home-page-container .contact-card p,
  .home-page-container .contact-card a {
    font-size: 1.5em;
  }

  .home-page-container .contact-card h3 {
    font-size: 1.8em;
  }

  .home-page-container .contact-card h4 {
    font-size: 1.5em;
  }
}

/* ---------------------------
   PROJECT PAGE TYPOGRAPHY
---------------------------- */
.project-page-container .prose h1 {
  font-size: 3.5em;
  line-height: 1.2;
  font-weight: 650;
  margin-top: 1rem;
}

.project-page-container .prose h2 {
  font-size: 2.2em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.989);
  margin-top: 1.1em;
}

.project-page-container .prose h3 {
  font-size: 1.7em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.82);
}

.project-page-container .prose h4 {
  font-size: 1.45em;
  font-weight: 200;
  color: gray;
}

.project-page-container .prose h5 {
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: 250;
  color: rgba(255, 255, 255, 0.9);
  width: 85%;
}

.project-page-container .prose p,
.project-page-container .prose li {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
}


.project-page-container .prose code {
  font-size: 0.8rem;
}

.project-page-container .prose p code {
  padding: 0.05em 0.15em;
  font-size: 0.9em;
  color: rgb(196, 147, 127);
  background-color: #232323;
  border-radius: 5px;
}

.project-page-container .prose p,
.project-page-container .prose ul {
  margin-bottom: 0.6em;
}

.project-page-container .prose b {
  font-weight: 450;
}

.project-page-container .prose li b {
  font-weight: 300;
}

.tech-stack-label {
  margin-bottom: 0.2rem;
  font-weight: 250;
  color: white;
  font-size: 0.85rem;
}

.project-page-container .prose .tech-stack-inline {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
  color: rgba(255, 255, 255, 0.85);
}

.home-page-container .tech-stack-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-bottom: 0.2em;
}

.home-page-container .tech-stack-inline span {
  padding: 0.1rem 0.5rem;
  border: 1px ridge grey;
  background-color: #1b1b1b;
}

.tech-stack-inline span {
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.06);
  white-space: nowrap;
}

.tech-stack-inline span:hover {
  border-color: var(--page-accent-color);
  transition: all 0.25s ease;
  cursor: default;
}

.accented {
  color: var(--page-accent-color);
}

.code-snippet-border pre span {
  text-decoration: none !important;
  font-size: 1.05em;
}

/* ---------------------------
   SOFT LIST TYPOGRAPHY
---------------------------- */
.soft-list-row {
  display: grid;
  grid-template-columns: 26ch 2fr;
  column-gap: 1rem;
  align-items: center;
  font-size: 1.05em;
  border: 1px solid transparent;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0.500),
      transparent 70%);
}

.soft-list-row dt {
  position: relative;
  height: 100%;
  padding: 0.6rem 1.3rem;
  border-radius: 6px;
  background:
    linear-gradient(to right,
      rgba(197, 26, 74, 0.5),
      rgba(197, 26, 74, 0.18),
      transparent);
  width: 115%;
}

dt,
dd,
.soft-list-icon {
  font-size: clamp(0.9em, 1.2em, 1.3em);
}

dt {
  gap: 0.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.soft-list-icon {
  opacity: 0.75;
  margin: 0.25em 0.5em;
}