
html {
  font-size: 14px; 
}


h1 {
  margin: 20px;
}

h2 {
  margin: 0px 10px 10px 20px;
  font-size: 18px;
}

h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

p {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  font-weight: light;
  color: rgb(112, 112, 112);
}

.projects {
  margin: 20px;
  padding: 20px 0px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  width: 285px;
  min-width: 250px;
  /* height: 400px;
  min-height: 300px; */
}

.projects > div {
  /* padding: 0.5px 0px; */
  margin: 10px;
  padding: 15px 20px;
  background-color: rgb(47, 47, 52);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
}
