/* =============== GLOBAL =============== */
html, body {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
}



/* =============== TYPOGRAPHY =============== */
h2 {
  margin: 0 10px 10px 20px;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

p {
  font-size: 12px;
  margin: 0;
  font-weight: lighter;
  color: rgb(112, 112, 112);
}



/* =============== BIO CARD =============== */
.bio-card {
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  
  flex: 5;
}

.bio-card h1 {
  font-size: xx-large;
  margin: 5px 0;
}



/* =============== CONTACT CARD =============== */
.contact-card {
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;

  flex: 4;
}



/* =============== PROJECT CARDS =============== */

.project-card {
  padding: 15px 20px;
  background-color: rgb(47, 47, 52);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;

  flex: 1;
  width: 200px;
  min-height: 50px;

  transform-origin: center;
  will-change: transform;
  transition:
    transform 0.75s cubic-bezier(0.16, 1, 0.3, 1),
    box-shadow 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}

.project-card:hover {
  transform: scale(1.035);
  box-shadow: 0 10px 24px rgba(0,0,0,0.14);
  z-index: 1;         /* optional: ensures hover appears above siblings */
}



/* =============== INSIDE SIDE-BAR =============== */

/* =============== ABOUT CARD =============== */
.about-card {
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;

  width: 100%;
  flex: 7.5;
}

.about-card > ul {
  padding-left: 15px;
  margin-top: 5px;
}

/* =============== LITTLE FOOTER =============== */
.little-footer {
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;

  width: 100%;
  flex: 2.5
}