
html {
  font-size: 14px;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0px 10px 10px 20px;
  font-size: 18px;
}

h3 {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}

p {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  font-weight: light;
  color: rgb(112, 112, 112);
}



/* =============== ABOUT CARD =============== */

.about-card {
  border: 1px solid white;
  height: 500px;
  width: 190px;
}

/* =============== LITTLE FOOTER =============== */

.little-footer {
  border: 1px solid white;
  height: 200px;
  width: 190px;
}

/* =============== CONTACT CARD =============== */

.contact-card {
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  /* min-height: 260px;                */
  
}

/* =============== PROJECTS CONTAINER =============== */

.projects {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card {
  /* margin: 10px 0px; */
  padding: 15px 20px;
  background-color: rgb(47, 47, 52);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  height: 50px;
  flex: 1;
  
  /* width: 130px; */

  transform-origin: center;
  will-change: transform;

  transition:
    transform 0.75s cubic-bezier(0.16, 1, 0.3, 1),
    box-shadow 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}

.project-card:hover {
  transform: scale(1.035);
  box-shadow: 0 10px 24px rgba(0,0,0,0.14);
}


/* =============== BIO CARD =============== */

.bio-card {
  margin:20px;
  padding: 20px;
  background-color: rgb(40, 40, 41);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  height: 300px;
  min-width: 200px;
  max-width: 1000px;
}

.bio-card h1 {
  font-size: xx-large;
  margin: 5px 0px;
}