
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.main-content {
  border: 2px solid white;
  height: 640px;
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal alignment of children */
}

.showcase {
    padding: 0px 20px ;
    gap: 1rem; 
}

.side-bar {
  border: 2px solid white;
  height: 640px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 1rem;          /* space between items */
  align-items: center; /* horizontal alignment of children */
}
