
/* =============== MAIN CONTAINER =============== */
.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100vh;
  height: 90vh;
  margin: 0 auto;
  padding: 2rem;
}

/* =============== MAIN CONTENT =============== */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 0;      /* allows children to shrink */
  min-width: 80%;
}

/* =============== SIDE BAR =============== */
.side-bar {
  border: 2px solid white;
  height: 640px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.side-bar {
  border: 2px solid white;
  height: 640px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}





/* =============== SHOWCASE / PROJECTS  CONTAINERS =============== */
.showcase {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex: 1;            /* fills remaining space */
  min-height: 0;
  min-width: 100%;
}


.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;            /* allow projects to stretch equally */
  min-height: 0;
}

/* .showcase > :last-child {
    margin-left: auto;
} */