
/* =============== PARENT CONTAINER =============== */
.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  height: 90vh;
}

/* =============== MAIN CONTENT =============== */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
      
  flex: 7;
  min-height: 0;  
}

/* =============== SHOWCASE CONTAINERS =============== */
.showcase {
  display: flex;
  gap: 1rem;
  
  flex: 5;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 6;
}

/* =============== SIDE BAR =============== */
.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  flex: 3;
}