
/* =============== PARENT CONTAINER =============== */
.container {
  flex-direction: row;

  width: 100%;
  min-height: 100vh;
  padding: 9vh 9vw;
}

/* =============== MAIN CONTENT =============== */
.main-content {
  flex: 7;
  min-height: 0;  
}

/* =============== SHOWCASE CONTAINERS =============== */
.showcase {
  flex: 5;
  width: 100%;
}

.showcase > * {
  flex: 1;
}

/* .projects { flex: 6; } */

/* =============== SIDE BAR =============== */
.side-bar { flex: 2; }