
/* =============== PARENT CONTAINER =============== */
.container {
  flex-direction: row;

  width: 100%;
  min-height: 100vh;
  padding: 5vh 15vw;
}

/* =============== MAIN CONTENT =============== */
.main-content {
  flex: 7;
  min-height: 100%;
}

/* =============== SHOWCASE CONTAINER =============== */
.showcase {
  flex: 4;
  width: 100%;
}
.showcase > * { flex: 1; }

/* =============== SIDE BAR =============== */
.side-bar { flex: 2; }