/* =============== BASE =============== */
:root {
  --bg-card: rgb(40, 40, 41);
  --bg-card-alt: rgb(47, 47, 52);
  --border-card: rgb(53, 53, 53);
  --border-card-alt: rgb(70, 70, 70);
  --radius: 10px;
  --gap: 1rem;
}

/* =============== FLEX UTILITIES =============== */
.flex {
  display: flex;
  gap: var(--gap);
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}
