:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-card-primary: rgb(27, 27, 29);
  --bg-card-secondary: rgb(34, 34, 35);
  --border-card-primary: rgb(67, 66, 66);
  --border-card-secondary: rgb(184, 184, 184);
  --radius: 10px;
  --gap: 1.1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
}
a {
  font-weight: 500;
  color: #959595;
  text-decoration: inherit;
}
a:hover {
  color: #c1c1c1;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  margin: 0;
  font-size: clamp(2.4rem, 4vw, 3em);
  line-height: 1.1;
}
h2 {
  margin: 0;
  font-size: clamp(1.4rem, 2.4vw, 1.6em);
  line-height: 1.2;
}
h3 {
  margin: 0;
  font-size: clamp(1.25rem, 2.2vw, 1.5em);
  line-height: 1.3;
  font-weight: normal;
}
h4 {
  margin: 0;
  font-size: clamp(1.05rem, 1.9vw, 1.2em);
  line-height: 1.4;
  font-weight: normal;
}
h5 {
  margin: 0;
  font-size: clamp(0.9rem, 1.6vw, 1em);
  line-height: 1.4;
  font-weight: normal;
  color: gray;
}
p {
  margin: 0;
  color: gray;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* =============== FLEX UTILITIES =============== */
.flex {
  display: flex;
  gap: var(--gap);
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}